body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 340px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input.is-invalid {
    border-color: #a94442;
}

.login-container .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-container .form-group .input-group-append {
    position: absolute;
    margin-left: 270px;
    margin-top: 11px;
}

.login-container .form-group .input-group-append .input-group-text {
    cursor: pointer;
}

.login-container .form-group .error-message {
    color: #a94442;
    font-size: 13px;
    margin-top: 3px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container .signup {
    display: block;
    font-size: 12px;
    text-align: center;
}

.login-container .signup a {
    color: #007BFF;
    text-decoration: none;
}

.login-container .signup:hover {
    text-decoration: underline;
}

.login-container .form-captcha {
    display: flex;
}

.login-container .form-captcha .textCaptcha input[type="text"] {
    width: 85%;
}

.login-container .form-captcha #captchaImage {
    width: 120px;
}

.login-container .form-captcha .fas {
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
}

.login-container .alert.alert-danger p {
    font-size: 13px;
    color: red;
    margin-top: 0px;
}