<nav class="topbar-admin-container">
    <div class="topbar-wrapper">
        <div class="topbar-left">
            <div class="search">
                <span class="icon-search">
                    <ng-icon class="icon" name="matSearchOutline" />
                </span>
                <input type="text" class="input-search" placeholder="Search for..." [(ngModel)]="searchText"
                    (input)="onSearchChange()" />
            </div>
        </div>
        <div class="topbar-right">
            <ul class="nav-topbar-right">
                <li class="nav-topbar-right-item">
                    <div class="box-icon">
                        <ng-icon class="icon" name="matNotificationsOutline" />
                    </div>
                </li>
                <li (click)="avatar()" id="user" class="nav-topbar-right-item user">
                    <ng-icon class="avatar" name="matPersonOutline" />

                    <div *ngIf="isAvatar" class="box-list">
                        <div class="box-user-list">
                            <a routerLink="/home" class="user-list-item">Về trang chủ</a>
                            <div (click)="logout()" class="user-list-item">
                                Đăng xuất
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>