<div class="role-update-container">
    <section class="breadcumrb">
        <ol class="breadcumrb-nav">
            <li>
                <ng-icon class="icon" name="matHomeOutline"></ng-icon>
            </li>
            <li class="breadcumrb-nav-item link" routerLink="/admin/role-manager">
                Quyền
            </li>
            <li class="breadcumrb-nav-item">Cập nhật quyền</li>
        </ol>
        <div class="box-breadcumrb">
            <h3 class="breadcumrb-title">Cập nhật quyền</h3>
        </div>
    </section>
    <section class="main">
        <form class="form-container" (ngSubmit)="onSubmit()" #roleUpdateForm="ngForm">
            <div class="box-form">
                <!-- ID -->
                <div class="form-group input">
                    <label for="Id">ID</label>
                    <input id="Id" type="text" name="Id" [(ngModel)]="model.id" #id="ngModel" required readonly
                        class="disabled-input" />
                </div>
            </div>
            <div class="box-form">
                <!-- Tên quyền -->
                <div class="form-group input">
                    <label for="Rolename">Tên quyền</label>
                    <input id="Rolename" type="text" name="Rolename" placeholder="Tên quyền"
                        [ngClass]="{'is-valid':roleName.invalid && roleName.touched}" [(ngModel)]="model.roleName"
                        #roleName="ngModel" required maxlength="50" />
                    <div *ngIf=" roleName.invalid && roleName.touched" class="error-message">
                        <div *ngIf="roleName.errors?.['required']">
                            Vui lòng nhập tên quyền!
                        </div>
                        <div *ngIf="roleName.errors?.['maxlength']">
                            Tên quyền không được quá 50 ký tự!
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-form">
                <!-- Trạng thái -->
                <div class="form-group input">
                    <label for="Status" (click)="status">Trạng thái</label>
                    <ng-select name="Status" [items]="statuses" class="select" bindLabel="name" bindValue="value"
                        [ngClass]="{'is-valid':status.invalid && status.touched}" placeholder="Chọn trạng thái: "
                        [(ngModel)]="model.status" #status="ngModel" required>
                    </ng-select>
                    <div *ngIf="status.invalid && status.touched" class="error-message">
                        <div *ngIf="status.errors?.['required']">
                            Vui lòng chọn trạng thái!
                        </div>
                    </div>
                </div>
                <!-- Menu -->
                <div class="form-group input">
                    <label for="MenuId" (click)="menuId">Menu</label>
                    <ng-select name="MenuId" [items]="filteredMenu" class="select" bindLabel="displayName"
                        bindValue="id" [ngClass]="{'is-valid':menuId.invalid && menuId.touched}"
                        placeholder="Chọn menu: " [(ngModel)]="model.menuIds" #menuId="ngModel" required
                        [multiple]="true" [clearable]="true" [closeOnSelect]="false">
                    </ng-select>
                    <div *ngIf="menuId.invalid && menuId.touched" class="error-message">
                        <div *ngIf="menuId.errors?.['required']">
                            Vui lòng chọn menu!
                        </div>
                    </div>
                </div>
                <!-- Permission -->
                <div class="form-group input">
                    <label for="PermissionId" (click)="permissionId">Permissions</label>
                    <ng-select name="PermissionId" [items]="filteredPermissions" class="select"
                        bindLabel="permissionName" bindValue="id"
                        [ngClass]="{'is-valid':permissionId.invalid && permissionId.touched}"
                        placeholder="Chọn Permission: " [(ngModel)]="model.permissionIds" #permissionId="ngModel"
                        required [multiple]="true" [clearable]="true" [closeOnSelect]="false">
                    </ng-select>
                    <div *ngIf="permissionId.invalid && permissionId.touched" class="error-message">
                        <div *ngIf="permissionId.errors?.['required']">
                            Vui lòng chọn Permission!
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group btn">
                <button [disabled]="isLoading" class="btn-primary">
                    <ng-container *ngIf="isLoading; else notLoading">
                        <span>Xin chờ!</span>
                    </ng-container>
                    <ng-template #notLoading>Cập nhật</ng-template>
                </button>
                <a routerLink="/admin/role-manager" class="btn-secondary"> Trở lại </a>
            </div>
        </form>
    </section>
</div>