.user-update-container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @media (min-width: 1280px) {
        padding-left: 0;
        padding-right: 0;
    }

    .breadcumrb {
        margin-top: 1.25rem;
        margin-left: 0.5rem;

        @media (min-width: 768px) {
            margin-top: 2rem;
        }

        .breadcumrb-nav {
            margin-right: 3rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 0.25rem;
            list-style: none;

            @media (min-width: 640px) {
                margin-right: 4rem;
            }

            li {
                display: flex;
                align-items: center;

                .icon {
                    font-size: 1.2rem;
                    line-height: normal;
                    color: #475569;
                }
            }

            .breadcumrb-nav-item {
                padding-left: 0.5rem;
                font-size: 0.875rem;
                text-transform: capitalize;
                line-height: normal;
                color: #475569;

                &.link {
                    &:hover {
                        color: var(--color-primary);
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                &:before {
                    float: left;
                    padding-right: 0.5rem;
                    content: "/";
                    color: #6b7280;
                }
            }
        }

        .box-breadcumrb {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .breadcumrb-title {
                margin: 1rem 0;
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: capitalize;
                line-height: 2.5rem;
            }
        }
    }

    .main {
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        .form-container {
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            background-color: white;
            padding: 2.5rem;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
                0 10px 10px -5px rgba(0, 0, 0, 0.04);
            display: flex;
            flex-direction: column;
            gap: 20px;

            .box-form {
                display: flex;
                // align-items: center;
                column-gap: 20px;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                label {
                    margin-left: 8px;

                    &.is-valid {
                        color: var(--color-danger);
                    }
                }

                .disabled-input {
                    opacity: 0.6;
                    pointer-events: none;
                    background-color: #f5f5f5;
                    border: 1px solid #ccc;
                }

                &.input {
                    flex: 1;
                }

                &.btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 1.5rem;

                    .btn-primary {
                        order: 1;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        border-radius: 0.375rem;
                        border: none;
                        background-color: var(--color-primary);
                        border: 1px solid var(--color-primary);
                        padding: 0.5rem 1.25rem;
                        font-size: 1rem;
                        letter-spacing: 0.05em;
                        color: white;
                        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                            0 4px 6px -2px rgba(0, 0, 0, 0.05);
                        transition: background-color 0.2s;

                        &:hover {
                            background-color: var(--color-primary-hover);
                            border-color: var(--color-primary-hover);
                        }
                    }

                    .btn-secondary {
                        border-radius: 0.375rem;
                        border: 1px solid var(--color-primary);
                        padding: 0.5rem 1.25rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        color: #111827;
                        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                            0 4px 6px -2px rgba(0, 0, 0, 0.05);
                        transition: all 0.15s ease-out;
                        text-decoration: none;

                        &:hover {
                            color: var(--color-light);
                            border-color: var(--color-primary-hover);
                            background-color: var(--color-primary-hover);
                            transition: all 0.2s ease-in;
                        }
                    }
                }

                input {
                    padding: 10px 0;
                    outline: none;
                    border: 1px solid var(--color-dark);
                    border-radius: 10px;
                    text-indent: 10px;
                    width: 100%;

                    &:focus {
                        border-color: var(--color-primary);
                    }

                    &.is-valid {
                        border-color: var(--color-danger);

                        &::placeholder {
                            color: var(--color-danger);
                        }
                    }
                }

                ::ng-deep .ng-select.select {
                    font-size: 14px;

                    &.ng-select-opened {
                        &.ng-select-bottom>.ng-select-container {
                            border-bottom-right-radius: 0;
                            border-bottom-left-radius: 0;
                        }

                        &.ng-select-top>.ng-select-container {
                            border-top-right-radius: 0;
                            border-top-left-radius: 0;
                        }
                    }

                    &.ng-select-single {
                        .ng-select-container {
                            height: auto;
                            padding: 10px 0;

                            .ng-value-container .ng-input {
                                height: 100%;
                                top: 0;

                                >input {
                                    height: 100%;
                                }
                            }
                        }

                        .ng-dropdown-panel {
                            border-color: var(--color-dark);

                            &.ng-select-bottom {
                                border-top-color: hsl(0, 0%, 90%);
                            }

                            &.ng-select-top {
                                border-bottom-color: hsl(0, 0%, 90%);
                            }
                        }
                    }

                    .ng-select-container {
                        border-radius: 10px;
                        width: 100%;
                        border-color: var(--color-dark);
                        min-height: 100%;
                    }

                    .ng-dropdown-panel {
                        &.ng-select-bottom {
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px;

                            .ng-dropdown-panel-items .ng-option:last-child {
                                border-bottom-right-radius: 10px;
                                border-bottom-left-radius: 10px;
                            }
                        }

                        &.ng-select-top {
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;

                            .ng-dropdown-panel-items .ng-option:first-child {
                                border-top-right-radius: 10px;
                                border-top-left-radius: 10px;
                            }
                        }
                    }

                    &:focus {
                        .ng-select-container {
                            border-color: var(--color-primary);
                        }
                    }

                    &.is-valid {
                        .ng-select-container {
                            border-color: var(--color-danger);

                            .ng-value-container {
                                .ng-placeholder {
                                    color: var(--color-danger);
                                }
                            }

                            .ng-clear-wrapper {
                                color: var(--color-danger);
                            }

                            .ng-arrow-wrapper {
                                .ng-arrow {
                                    border-color: var(--color-danger) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                                }
                            }
                        }

                        .ng-dropdown-panel {
                            border-color: var(--color-danger);

                            &.ng-select-bottom {
                                border-top-color: hsl(0, 0%, 90%);
                            }

                            &.ng-select-top {
                                border-bottom-color: hsl(0, 0%, 90%);
                            }
                        }
                    }
                }

                .error-message {
                    margin-left: 8px;
                    font-size: 14px;
                    color: var(--color-danger);
                }
            }
        }
    }
}