<div class="menu-manager-container">
    <section class="breadcumrb">
        <ol class="breadcumrb-nav">
            <li>
                <ng-icon class="icon" name="matHomeOutline"></ng-icon>
            </li>
            <li class="breadcumrb-nav-item">Menu</li>
        </ol>
        <div class="box-breadcumrb">
            <h3 class="breadcumrb-title">Danh sách menu</h3>
            <a routerLink="create" class="btn-add" *ngIf="hasPermission('Menu.Create')">
                <ng-icon name="matAddCircleOutlineOutline" class="icon" />
                <span>Thêm menu</span>
            </a>
        </div>
    </section>
    <section class="main">
        <div class="main-container">
            <div class="main-wrapper">
                <div class="main-box">
                    <div class="table-box">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th class="th-item">ID</th>
                                    <th class="th-item">Tên menu</th>
                                    <th class="th-item">Url</th>
                                    <!-- <th class="th-item">Icon</th> -->
                                    <th class="th-item">Trạng thái</th>
                                    <th class="th-item ctr">Hành động</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <!-- Hiển thị loading -->
                                <tr *ngIf="isLoading">
                                    <td colspan="5">
                                        <div class="loading flex items-center justify-center gap-x-4 py-20">
                                            <ng-icon class="icon mr-2 animate-spin text-4xl"
                                                name="matAcUnitOutline"></ng-icon>
                                            <h2 class="title text-xl">Xin chờ</h2>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Hiển thị dữ liệu người dùng -->
                                <tr *ngFor="let item of menu" [attr.key]="item.id">
                                    <td class="td-id"><b>{{ item.id }}</b></td>
                                    <td class="td-item">
                                        <div class="info">
                                            <b>{{ item.displayName }}</b>
                                        </div>
                                    </td>
                                    <td class="td-item">
                                        <div class="info">
                                            <b>{{ item.url }}</b>
                                        </div>
                                    </td>
                                    <!-- <td class="td-item">
                                        <div class="info">
                                            <b>{{ item.icon }}</b>
                                        </div>
                                    </td> -->
                                    <td class="td-item">
                                        <div class="info">
                                            <b>{{ item.status === true ? "Mở" : "Khoá" }}</b>
                                        </div>
                                    </td>
                                    <td class="td-action">
                                        <div class="box-action">
                                            <a [routerLink]="'update/' + item.id" class="update"
                                                *ngIf="hasPermission('Menu.Update')">
                                                <ng-icon class="icon" name="matCreateOutline"></ng-icon>
                                                <span>Sửa</span>
                                            </a>
                                        </div>
                                        <div class="box-action">
                                            <a (click)="deleteMenu(item.id)" class="delete"
                                                *ngIf="hasPermission('Menu.Delete')">
                                                <ng-icon class="icon" name="matDeleteOutline"></ng-icon>
                                                <span>Xoá</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Hiển thị khi không có dữ liệu -->
                                <tr *ngIf="!isLoading && menu.length === 0">
                                    <td colspan="5">
                                        <div class="no-data flex flex-col items-center justify-center py-20">
                                            <ng-icon class="icon text-5xl" name="matDatasetOutline"></ng-icon>
                                            <h2 class="title text-xl">Không có dữ liệu</h2>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>