<div class="user-create-container">
  <section class="breadcumrb">
    <ol class="breadcumrb-nav">
      <li>
        <ng-icon class="icon" name="matHomeOutline"></ng-icon>
      </li>
      <li class="breadcumrb-nav-item link" routerLink="/admin/user-manager">
        Người dùng
      </li>
      <li class="breadcumrb-nav-item">Thêm mới người dùng</li>
    </ol>
    <div class="box-breadcumrb">
      <h3 class="breadcumrb-title">Thêm mới người dùng</h3>
    </div>
  </section>
  <section class="main">
    <form
      class="form-container"
      (ngSubmit)="onSubmit(userCreateForm)"
      #userCreateForm="ngForm"
    >
      <div class="box-form">
        <!-- Họ và tên -->
        <div class="form-group input">
          <label for="FullName">Họ và tên</label>
          <input
            id="FullName"
            type="text"
            name="FullName"
            placeholder="Họ và tên"
            [ngClass]="{ 'is-valid': fullname.invalid && fullname.touched }"
            [(ngModel)]="model.fullname"
            #fullname="ngModel"
            required
            maxlength="100"
          />
          <div
            *ngIf="fullname.invalid && fullname.touched"
            class="error-message"
          >
            <div *ngIf="fullname.errors?.['required']">
              Vui lòng nhập họ và tên!
            </div>
            <div *ngIf="fullname.errors?.['maxlength']">
              Họ và tên không được quá 100 ký tự!
            </div>
          </div>
        </div>

        <!-- Tên tài khoản -->
        <div class="form-group input">
          <label for="Username">Tên tài khoản</label>
          <input
            id="Username"
            type="text"
            name="Username"
            placeholder="Tên tài khoản"
            [ngClass]="{ 'is-valid': username.invalid && username.touched }"
            [(ngModel)]="model.username"
            #username="ngModel"
            required
            maxlength="50"
          />
          <div
            *ngIf="username.invalid && username.touched"
            class="error-message"
          >
            <div *ngIf="username.errors?.['required']">
              Vui lòng nhập tên tài khoản!
            </div>
            <div *ngIf="username.errors?.['maxlength']">
              Tên tài khoản không được quá 50 ký tự!
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="form-group input">
          <label for="Email">Email</label>
          <input
            id="Email"
            type="email"
            name="Email"
            placeholder="Địa chỉ email"
            [ngClass]="{ 'is-valid': email.invalid && email.touched }"
            [(ngModel)]="model.email"
            #email="ngModel"
            required
            maxlength="50"
            email
          />
          <div *ngIf="email.invalid && email.touched" class="error-message">
            <div *ngIf="email.errors?.['required']">
              Vui lòng nhập địa chỉ email!
            </div>
            <div *ngIf="email.errors?.['email']">
              Vui lòng nhập địa chỉ email hợp lệ!
            </div>
            <div *ngIf="email.errors?.['maxlength']">
              Địa chỉ email không được quá 50 ký tự!
            </div>
          </div>
        </div>
      </div>

      <div class="box-form">
        <!-- Trạng thái -->
        <div class="form-group input">
          <label>Trạng thái</label>
          <div class="box-container">
            <div class="group-status">
              <mat-radio-group [(ngModel)]="model.locked" name="Status">
                <mat-radio-button
                  *ngFor="let status of statuses"
                  [value]="status.value"
                >
                  {{ status.name }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="!isStatusSelected()" class="error-message">
            Vui lòng chọn trạng thái!
          </div>
        </div>
        <!-- Vai trò -->
        <div class="form-group input">
          <label>Vai trò</label>
          <div class="box-container">
            <div class="group-role">
              <mat-checkbox
                *ngFor="let role of filteredRoles"
                [(ngModel)]="selectedRole[role.id]"
                (ngModelChange)="onCheckboxRoleChange($event, role)"
                [name]="role.roleName"
              >
                {{ role.roleName }}
              </mat-checkbox>
            </div>
          </div>
          <div *ngIf="!isRoleSelected()" class="error-message">
            Vui lòng chọn vai trò!
          </div>
        </div>
      </div>

      <div class="form-group btn">
        <button [disabled]="isLoading" class="btn-primary">
          <ng-container *ngIf="isLoading; else notLoading">
            <span>Xin chờ!</span>
          </ng-container>
          <ng-template #notLoading>Thêm mới</ng-template>
        </button>
        <a routerLink="/admin/user-manager" class="btn-secondary"> Trở lại </a>
      </div>
    </form>
  </section>
</div>
